body{
  background: #BFBDBD;
  margin: 0 10px;
}

.first-box {
  width:300px;
  float:left;
  background: white;
  height: 250px;
  margin: 50px
}
.second-box {
  width:1000px;
  height: 1000px;
  float:right;
  background: white;
  margin: 50px
}

.button {
  border: none;
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.form-control{
  height: 30em !important;
  width: 50em;
  padding-left: 5px !important;
}
.inline-div {
  display:inline-block;
}
.inline-txtarea {
  resize: none;
  border : 2px solid black;
  height: 400px;
}
.button5 {
  background-color: white;
  color: black;
}

.button5:hover {
  background-color: #555555;
  color: white;
}